Flask==3.0.2
Flask-Cors==4.0.0
httpcore==1.0.4
httpx==0.27.0
pandas==2.0.2
ultralytics==8.1.23
urllib3==1.26.16
opencv-contrib-python==4.5.5.62
opencv-python==4.7.0.72
protobuf==4.23.3
psutil==5.9.5
